@page
@model RegisterModel

@{
    ViewData["Title"] = "Sign up";
}

<div id="login">
    <div id="container">
        <form id="form-container" method="post">
            <h1 align="center">@ViewData["Title"]</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input placeholder="Username" asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Email" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Password" asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Confirm Password" asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <hr />
        </form>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>

    <style>
        #login #container {
            padding: 2rem;
            width: 40%;
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
        }

        #login #form-container {
            width: 100%;
        }

            #login #form-container .form-group * {
                width: 100%;
            }

        #login #register-spacer {
            display: flex;
            width: 100%;
            align-items: center;
        }

            #login #register-spacer div {
                height: 1px;
                width: 60%;
                border-bottom: 1px solid grey;
                margin: .2rem .5rem 0 .5rem;
            }
    </style>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
